body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.botaoCheck{
    caret-color: transparent;
    width: 50px;
    border-radius: 25px;
    height: 20px;
    background-color: rgb(8, 26, 50);
    padding: 5px;
}

.botao{
    caret-color: transparent;
    background-color: grey;
    height: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}