html, body{
    background-color: #0D1117;
    font-family: "Lato", sans-serif;
    color: azure;
    margin: 0;
    height: auto;
    text-align: justify;
}

h1{
    color: azure;
}

h2{
    color: rgb(119, 119, 119);
}

p{
    font-size: medium;
}

.conteiner{
    display: flex;
    min-height: 100vh;
    margin: 8px;
}

.faixa{
    width: 350px;
    background-color: #1a232c;
    border-radius: 8px;
}

.conteudo_faixa{
    padding-left: 10px;
    padding-right: 10px;
}

.conteudo{
    flex: 1;
    padding: 30px;
    padding-top: 0px;
}

header{
    background-color: #1a232c;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.fotoEnome{
    text-align: center;
    padding-top: 15px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

nav{
    display: flex;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    background-color: #1a232c;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: azure;
    position: relative;
}

nav ul li a:hover{
    background-color: #2d3844;
}

nav ul li:has(ul:hover) a{
    background-color: #2d3844;
}

nav ul li ul li a{
    background-color: #171f27; 
    padding: 0px;
}

nav ul li ul li a:hover{
    background-color: #171f27; 
    padding: 0px;
    color: rgb(164, 164, 164);
}

nav ul li ul{
    display: none;
}

nav ul li:hover ul{
    display: block;
    position: absolute;
    top: 83%; /* Gambiarra (?)*/
    background-color: #171f27;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

nav ul li:hover ul li{
    padding: 5px;
}

.caixaDes{
    background-color: aliceblue;
    color: #0D1117;
    border-radius: 10px;
}

.conteudoCaixaDes{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 250px;
    width: auto;
    overflow-y: auto;
}

.headerCaixaDes{
    background-color: rgb(184, 191, 197);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
}

.bottomCaixaDes{
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: rgb(184, 191, 197);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.bottomCaixaDes button{
    background-color: rgb(147, 152, 156);
    border-radius: 50%;
    margin: 3px;
    border: none;
}

.bottomCaixaDes button:hover{
    background-color: rgb(112, 116, 118);
}

.hidden{
    display: none;
    position: absolute;
}
