html, body{
    background-color: #0D1117;
    font-family: "Lato", sans-serif;
    color: azure;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: auto;
}

h1{
    color: azure;
}

h2{
    color: rgb(119, 119, 119);
}

p{
    font-size: medium;
}

.conteiner{
    display: flex;
    min-height: 100vh;
    margin: 8px;
}

.faixa{
    width: 350px;
    background-color: #1a232c;
    border-radius: 8px;
}

.conteudo_faixa{
    padding-left: 10px;
    padding-right: 10px;
}

.conteudo{
    flex: 1;
    padding: 30px;
    padding-top: 0px;
}

header{
    background-color: #1a232c;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

nav{
    display: flex;
    gap: 0px;
}

nav a{
    background-color: #1a232c;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: azure;
}

nav a:hover{
    background-color: #2d3844;
}