.caixaMult{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Mult{
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 61);
    width: 40%;
    height: 70%;
    border-style: solid;
    border-radius: 5%;
    border-color: orange;
    border-width: 3px;
}

.visor{
    color: azure;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:x-large;
    background-color: rgb(10, 35, 67);
    height: calc(15% - 30px);
    width: calc(80% - 30px);
    border-radius: 5%;
    padding: 15px;
}

.seletor{
    border-radius: 50%;
    background-color: rgb(10, 35, 67);
    width: 60%;
    aspect-ratio: 1/1;
    padding: 10px;
}

.conectores{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.conectores button{
    border-style: none;
    border-radius: 50%;
    background-color: rgb(10, 35, 67);
    width: 25px;
    padding: 0;
    aspect-ratio: 1/1;
}

.conectores p{
    margin: 0;
}

.conectores button:hover{
    background-color: rgb(58, 74, 97);
}

.conectores button:active{
    transform: scale(0.95);
}

.caixaCirc{
    width: 50%;
}