.caixaMult{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.Mult{
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 61);
    width: 40%;
    height: 70%;
    border-style: solid;
    border-radius: 5%;
    border-color: orange;
    border-width: 3px;
}

.visor{
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 35, 67);
    height: calc(15% - 20px);
    width: calc(80% - 20px);
    border-radius: 5%;
    padding: 10px;
}

.seletor{
    border-radius: 50%;
    background-color: rgb(10, 35, 67);
    width: 180px;
    aspect-ratio: 1/1;
    padding: 10px;
    border-style: solid;
    border-color: rgb(33, 54, 80);;
}

.conectores{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.conectores button{
    border-style: none;
    border-radius: 50%;
    background-color: rgb(10, 35, 67);
    width: 25px;
    padding: 0;
    aspect-ratio: 1/1;
}

.conectores p{
    margin: 0;
}

.conectores button:hover{
    background-color: rgb(58, 74, 97);
}

.conectores button:active{
    transform: scale(0.95);
}

.caixaCirc{
    width: 50%;
}

.pontasCon{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pontaEsc{
    background-color: black;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.labels{
    color: azure;
}

.escalas{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.labels span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(-95px) rotate(calc(var(--angle) * (-1)));
}

.labels span button{
    color: azure; 
    border-style: none;
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1/1;
    background-color: rgb(8, 27, 54);
    display: flex;
    align-items: center;
    justify-content: center;
}

.labels span button:active{
    transform: scale(0.95);
    background-color: rgb(20, 52, 96);
}

.labels span button:hover{
    background-color: rgb(20, 52, 96);
}
