.resultados{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.config{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;    
}

.instrucoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65%;    
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}
.start button{
    background-color: blue;
    color: azure;
    caret-color: transparent;
    border: none;
    font-size: large;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    border-radius: 20px;
}

.start button:hover{
    cursor: pointer;
    background-color: rgb(27, 27, 185);
}

.start button:active{
    transform: scale(0.97);
}

.numItClass{
    background-color: rgb(27, 27, 185);
    padding: 8px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: aliceblue;
}

.numItClass:hover{
    background-color: rgb(27, 27, 185);
    padding: 8px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: aliceblue;
    box-shadow:
    0 0 5px aliceblue,
    0 0 10px aliceblue,
    0 0 20px aliceblue;
}

.numStepsClass{
    background-color: rgb(27, 27, 185);
    padding: 8px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: aliceblue;
}

.numStepsClass:hover{
    background-color: rgb(27, 27, 185);
    padding: 8px;
    height: 30px;
    width: 150px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: aliceblue;
    box-shadow:
    0 0 5px aliceblue,
    0 0 10px aliceblue,
    0 0 20px aliceblue;
}

.info button{
    cursor: pointer;
}

.info button:active{

}